@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-md w-full px-2 py-1;
  @apply mb-2;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-purple-900;
}
h1 {
  @apply text-gray-600 mb-2 text-xl;
}
h2 {
  @apply text-gray-600 mt-4 mb-2 text-lg;
}
label {
  @apply text-primary text-sm;
}
.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-md shadow-sm;
}
table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-300 px-4 py-2;
}
table.basic tr td {
  @apply px-4 py-1;
}
table.basic a {
  @apply px-4 py-1 rounded-md inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-md shadow-sm;
}
.btn-default {
  @apply bg-highlight text-primary px-4 py-1 rounded-md shadow-sm;
}
